<%- include ('parts/header')%>

  <!--CAROUSEL--> 
   

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 3px">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <!--<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/sld1.jpg" class="d-block w-100" style="height:400px;">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Encuentra todo para tus mascotas</h1>
                    <p>Con increíbles descuentos para teclers mostrando una sonrisa</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Registrate</a></p>
                </div>
            </div>
        </div>
      
        <div class="carousel-item">
            <img src="img/sld3.jpg" class="d-block w-100" style="height:400px;">
            <div class="container">
                <!-- <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>-->
            </div>
        </div>
        <!-- <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>-->



    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
       

   



 <!--CATEGORIAS-->
 <section id="categorias">
  <h1 class="display-4 text-center fw-bold"> Categorías</h1>
  <br>
   <div class="container-fluid">
     <div class="row">
       
      
        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/aves.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Aves" style="width: 100%" class="btn btn-primary stretched-link fs-5">Aves</a>
            </div>
          </div>
        </div>

        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/conejos.jpg " alt="Card image cap">
            <div class="card-body">
              <a href="/product/Conejos" style="width: 100%" class="btn btn-primary stretched-link fs-5">Conejos</a>
            </div>
          </div>
        </div>

        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/equinos.jpg " alt="Card image cap">
            <div class="card-body">
                 <a href="/product/Equinos" style="width: 100%" class="btn btn-primary stretched-link fs-5">Equinos</a>
            </div>
          </div>
        </div>

        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/gatos.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Gatos" style="width: 100%" class="btn btn-primary stretched-link fs-5">Gatos</a>
            </div>
          </div>
        </div>
      
        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/insectos.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Insectos" style="width: 100%" class="btn btn-primary stretched-link fs-5">Insectos</a>
            </div>
          </div>
        </div>

         
        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/peces.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Peces" style="width: 100%" class="btn btn-primary stretched-link fs-5">Peces</a>
            </div>
          </div>
        </div>
        
        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/perros.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Perros" style="width: 100%" class="btn btn-primary stretched-link fs-5">Perros</a>
            </div>
          </div>
        </div>
      
       
        <div class="col" >
          <div class="card" >
            <img class="card-img-top" src="img/reptiles.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Reptiles" style="width: 100%" class="btn btn-primary stretched-link fs-5">Reptiles</a>
            </div>
          </div>
        </div>
     
      </div>


     <div class="row mt-3">
        <div class="col-4" style="width: 37.5%" >
        </div>
       
       

        <div class="col"  style="width: 12.5%" >
          <div class="card">
            <img class="card-img-top" src="img/roedores.jpg " alt="Card image cap">
            <div class="card-body">
                <a href="/product/Roedores" style="width: 100%" class="btn btn-primary stretched-link fs-5">Roedores</a>
            </div>
          </div>
        </div>

        <div class="col" style="width: 12.5%"   >
          <div class="card">
            <img class="card-img-top" src="img/otros.jpg " alt="Card image cap">
            <div class="card-body" >
                <a href="/product/Otros" style="width: 100%" class="btn btn-primary stretched-link fs-5">Otros</a>
            </div>
          </div>
        </div>
     
        <div class="col-4" style="width: 37.5%" >
        </div>
     
        
      </div>
    </div>

  </section>




<!-- SECCIÓN HEADER2-->
<section id="patrocinador">
<div class="container">
 <div class="row">
   <div class="col md-6">
    <div class="header-content-left">
      <img src="img/patrocinador.png" style="width: 100%;">
    </div>
   </div>
   
   <div class="col md-6">
     <div class="header-content-right mt-5">
       <h1 class="display-6 text-center fst-italic fw-bold"> RG y TECLA</h1>
       <p class="mt-5 txt-alignment-center fs-4  text-center"> Somos una tienda 100% Mexicana para mascotas y nos encanta la tecnología justo como nuestro partner Tecla. </p>
     </div>

   </div>
 </div>
</div> 
<section>

<!-- BOOTSTRAP 5 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!--MI CODIGO
<script type='module' src="app/index.js"></script>-->

</body>
</html>


